{% extends "base.html" %}
{% block content %}

<form name="addForm" action="/data/upload" method="post" enctype="multipart/form-data"> 
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                Choose File<input type="file" class="form-control-file" name="uploadFile_aa" multiple="multiple" style="display:none">
            </span>
        </label>
        <input type="text" class="form-control" readonly="">
    </div>
    <input name="keyword"></input>
    <input type="button" onclick="Form_Submit()" class="btn btn-primary" value="submit">
</form>

<!-- 読込中画面 -->
<div id="Loading" style="display:none;">
    <img src="/static/img/spinner.gif" class="loadimg">
    <p class="text-center h2">Now loading...</p>
</div>
{% endblock %}
