{% extends "base.html" %}
{% block content %}
<form action="/data/upload" method="post" enctype="multipart/form-data"> 
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                Choose File<input type="file" class="form-control-file" name="uploadFile_aa" multiple="multiple" style="display:none">
            </span>
        </label>
        <input type="text" class="form-control" readonly="">
    </div>
    <input name="keyword"></input>
    <input type="submit" class="btn btn-primary" value="submit">
</form>
{% endblock %}
